{% extends 'base.html.twig' %}

{% block content %}
    {% block carousel %}

    {% endblock %}
        <h1 class="text-center">
            Homepage
        </h1>
        <div class="">
            Lorem ipsum dolor sit amet, at ius partem omittam, dicam omnium deleniti vim et. Ex decore possit mnesarchum per, est an nostrud delectus, audire phaedrum definitionem id mea. Libris eripuit id eos. Mei dolorem invenire et, mazim docendi dignissim an usu.

            Eu definiebas reformidans usu, enim lorem ius no. No duo aperiri constituto repudiandae, ad accusata maiestatis mei. Sit ne aliquip consulatu. Mea an fugit vituperatoribus, illud ridens vivendum qui te. His malorum vivendo apeirian ne. Te pro nisl mentitum, no luptatum scriptorem accommodare pri.

            Cum iriure persequeris ut. Mel eu minim instructior complectitur. Sit ei dicit sensibus, minimum scribentur eum no. Pro illum inani suavitate ut. Ipsum probatus philosophia per ad, aliquip inimicus gloriatur in quo.

            Vel ut suas impedit omnesque. Ea munere causae pro, in his liber aeterno. Eos magna aliquip an, ne vim suavitate appellantur, habeo vitae commodo cum ex. Mel eu diam altera dolores.

            Ad mutat tibique qui. Ut iriure recteque honestatis his, dicta ridens ei usu. Ea nemore mentitum legendos sea, ad brute diceret copiosae pri. Nibh dicit per ad, mel populo aliquid in, maiestatis scripserit instructior cu vel. Impetus tamquam adversarium vel no, cu est phaedrum iudicabit.
{% endblock %}