{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">

    <form name="authenticate" action="{{ path('security_login') }}" method="post">

            <!-- Text input-->
            <div class="form-group">
                <label class="control-label required" for="_username">Username</label>
                <div class="input-group">
                    <input name="_username" type="text" placeholder="username" class="form-control" value="nakov">
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="control-label required" for="_password">Password</label>
                <div class="input-group">
                    <input name="_password" type="password" placeholder="password" class="form-control input-md" value="123">
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-primary">Login</button>


    </form>
        </div>
    </div>
{% endblock %}