{% extends 'base.html.twig' %}

{% block content %}

    <form name="user" method="post" class="form-horizontal">
        <fieldset>
            <!-- Form Name -->
            <legend class="text-center">Register</legend>

            <!-- Text input-->
            <div class="form-group">
                <label for="user_username" class="col-md-4 control-label">Username: </label>
                <div class="col-md-4">
                    <input type="text" id="user_username" name="user[username]" required="required" class="form-control input-md"/>
                </div>
            </div>

            <div id="user_password">

            <!-- Password input-->
            <div class="form-group">
                <label for="user_password_first" class="col-md-4 control-label">Password: </label>
                <div class="col-md-4">
                    <input type="text" id="user_password_first" name="user[password][first]" required="required" class="form-control input-md"/>
                </div>
            </div>

            <!-- Password input-->
                <div class="form-group">
                    <label for="user_password_second" class="col-md-4 control-label">Confirm Password: </label>
                    <div class="col-md-4">
                        <input type="text" id="user_password_second" name="user[password][second]" required="required" class="form-control input-md"/>
                    </div>
                </div>

            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                    <input type="submit" name="submit" class="btn btn-success" value="Register">
                </div>
            </div>
            <input type="hidden" name="user[_token]" value="{{ csrf_token('user') }}">

        </fieldset>
    </form>


{% endblock %}